@font-face {
  font-family: Oxanium;
  src: url("font/Oxanium-VariableFont_wght.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxanium, Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

html,
body {
  background-color: #b4bac4c2;
}

/*-----NAVIGATION START-------*/

.primary-header {
  display: flex;
  justify-content: flex-end;
}

.primary-nav {
  padding-top: 1.5rem;
}

.primary-nav ul {
  display: flex;
}

.primary-nav a {
  position: relative;
  margin-right: 2rem;
  font-size: 1.5rem;
  align-items: center;
  color: white;
}

.primary-nav a > span {
  font-weight: bold;
  margin-inline-end: 0.5rem;
}

.primary-nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.primary-nav a:hover::before {
  visibility: visible;
  width: 100%;
  left: 0;
  transform: scaleX(1);
}

.mobile-nav-toggle {
  display: none;
}

.mobile-nav-toggle .icon-close {
  display: none;
}

/*----------NAV END-------------*/

.home-page {
  display: flex;
  height: 850px; /* placeholder height */

  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
}

/*-----ABOUT SECTION------------- */

.about-section {
  height: 900px; /*placeholder*/
  background-color: aliceblue;
  text-align: left;
  display: flex;
}

.about-img {
  flex: 1;

  height: 400px;
}

.about-content {
  flex: 2;

  height: 400px;
  text-align: left;
  padding-top: 50px;
  font-size: 1.5rem;
}

.about-content p {
  padding: 10px;
}

/*---------------------MEDIA QUERIES---------------------------*/

@media (max-width: 50em) {
  .primary-nav {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 2em;
  }
}

@media (min-width: 20em) {
  .home-page {
    min-width: 1em;
  }
}
